@CHARSET "UTF-8";

div{
	float : left;
	width : 200px;
	height : 100px;
	margin : 20px;
	background : lightgreen;
	border : 1px solid black;
}

.brd1{
	border-top-left-radius : 100px 50px;
}

.brd2{
	border-bottom-right-radius : 50% 30%;
}

.brd3{
	border-top-right-radius : 50px;
}

.brd4{
	border-radius : 50px;
}