@CHARSET "UTF-8";
div{
	float : left;
	margin : 10px;
	width : 150px;
	height : 190px;
	background-color : rgba(0, 0, 255, 0.3);
}

.two img:hover{
	transform : translate(10px, 10px);
}

.three {
	perspective : 100px;
}

img.i1:hover{
	transform : translate3d(0, 0 , 10px);
}

img.i2:hover{
	transform : translate3d(0, 0, 50px;)
}