@CHARSET "UTF-8";

div{
	float : left;
	margin : 50px;
	width : 150px;
	height : 190px;
	bakcground-color : rgba(0, 0, 255, 0.3);
	perspective : 200px;
}

#i1:hover{
	transform : rotateX(45deg);
}

#i2:hover{
	transform : rotateY(45deg);
}

#i3:hover{
	transform : rotateZ(45deg);
} 