@CHARSET "UTF-8";
div{
	float : left;
	margin : 100px;
	width : 150px;
	height : 190px;
	background-color : rgba(0, 0, 225, 0.3);
	perspective : 200px; 
}

img{
	border : 1px solid black;
}

#i1:hover{
	transform : skew(45deg, 0deg);
}

#i2:hover{
	transform : skew(45deg, 0deg);
}