@CHARSET "UTF-8";

div{
	float : left;
	margin : 100px;
	width : 150px;
	height : 190px;
	background-color : rgba(0, 0, 255, 0.3);
	perspective : 200px;
}

.preserve{
	transform-style : preserve-3d;
}

img:hover{
	transform : rotateX(45deg);
}