@charset "utf-8";
#formSearch{
	float: right;
}

#pieChart{
	float: left;
}

#pieTable{
	float: right;
	width: 300px; 
	height: 100px;
	margin-top:200px;
}

th, td{
	text-align : center;
}

#excelSave{
	float: right;
}
