@CHARSET "UTF-8";

.navi{
	margin-top : -15px;
	width : 100%;
	height : 60px;
}

.navi ul{
	height : 40px;
	padding-top: 10px;
	padding-bottm : 5px;
}

.navi ul li{
	list-style-type : none;
	float : left;
	font-size : 15px;
}

article ul li{
	list-style-type : square;
}